<h2>Perguntas Frequentes</h2>
<h4>O que é o Muambator?</h4>

<p>
  O Muambator é a forma mais inteligente e prática para rastreio Correios e
  outras empresas. O Muambator funciona de forma automatizada, e monitora
  constantemente os pacotes que você cadastrar na sua conta. Todas as vezes que
  é detectado uma mudança no rastreio do pacote, o Muambator te avisa por e-mail
  ou pelo melhor aplicativo de rastreamento, disponível para Android, iOS e
  Windows Phone.
</p>
<h4>É facil rastrear objetos pelo Muambator?</h4> 

<p>O Muambator é a melhor opção para rastrear pacotes. E você precisa fazer só uma coisa: cadastrar o código de rastreio. Deixa todo o resto conosco. Simples, fácil, inteligente e grátis!</p>