<%- include ("partials/index/header.ejs") %>
    <div class="h-[300px] fixed">
        <form class="flex items-center justify-center w-[600px] m-auto" action="">
            <input name="login" class="h-18 w-9 border-black border-2">
        </form>
    </div>
    <%- include ("partials/index/final_footer.ejs") %>
        <%- include ("partials/index/footer.ejs") %>