<%- include ("partials/index/header.ejs") %>

    <body class="h-auto">
        <div class="h-full relative bg-white-700 overflow-hidden">
            <div class="max-w-7xl h-3/4 mx-auto">
                <%- include ("partials/index/navbar.ejs") %>
                <%- include ("partials/tracking/tracking.ejs") %>
            </div>
        </div>
    </body>
    <%- include ("partials/tracking/final_footer.ejs") %>
