<div class="">
    <h1 class="relative text-lx text-center font-bold">Como rastrear objetos, encomendas ou pacotes no Muambator em 3 passos:</h1>
    <div class="flex w-full">
        <card class="w-1/3 text-center h-20">
            Cadastre os códigos de objetos
        </card>
        <card class="w-1/3 text-center h-20">
            Correios, China Post, Aliexpress, Shopee e Gear Best
        </card>
        <card class="w-1/3 text-center h-20">
            Tudo isso acompanhado de notificações
        </card>
    </div>
</div>