<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="../../../public/img/icon.png" sizes="64x64">
    <link rel="stylesheet" href="../../../public/css/main_style.css">
    <link rel="stylesheet" href="../../../public/css/variants.css">
    <!-- <link rel="stylesheet" href="/public/css/styles.css"> -->
    <title>Axeicaixa</title>
</head>